@import url("common.css");
main {
  background: #1c1c1c;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* 1 */
  /* 2 */
  /* 2 */
}

main .who {
  background: #000;
  padding-top: 225px;
  padding-bottom: 100px;
}

main .who .who_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .who .who_top p {
  font-family: Hurme;
  font-size: 11px;
  color: #aa8768;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 1.33;
  letter-spacing: 2px;
}

main .who .who_top h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: MalgunGothic;
  font-size: 34px;
  color: #fff;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

main .who .who_down_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-bottom: 76px;
  list-style-type: disc !important;
}

main .who .who_down_1 li {
  font-family: MalgunGothic;
  font-size: 13px;
  color: #808080;
  margin-left: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
}

main .who .who_down_2 {
  text-align: center;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #323232;
}

main .who .who_down_2 a {
  font-family: Hurme;
  font-size: 11px;
  color: #aa8768;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 2px;
}

main .who .who_down_2 a sub {
  vertical-align: super;
  font-weight: 400;
  font-size: 10px;
  padding-left: 5px;
}

main .main_2 {
  background: url("../img/menu.png") no-repeat;
  background-size: 500px;
  background-position: right bottom;
  margin: 0 auto;
  padding-bottom: 15%;
  position: relative;
}

main .main_2 div {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background-color: #eee;
  padding: 5%;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

main .main_2 div p {
  white-space: pre-line;
  line-height: 2em;
  font-family: Hurme;
  font-size: 13px;
  color: #000;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  width: 70%;
  margin: 0 auto;
}

main .not {
  background: #eee;
  padding-bottom: 250px;
  position: relative;
}

main .not:before {
  content: '';
  display: block;
  height: 1px;
}

main .not .h2 {
  position: absolute;
  right: 43%;
  bottom: 10%;
  font-family: canela;
  font-size: 40px;
  color: #2d2d2d;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 4px;
  padding-top: 10px;
}

main .not .not_main .not_main_1:nth-of-type(1).active {
  opacity: 1;
  margin-top: -200px;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

main .not .not_main .not_main_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1182px;
  margin: 0 auto;
  height: 400px;
  margin-top: 600px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

main .not .not_main .not_main_1 .not_photo {
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  text-decoration: none;
  /*  animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 400ms; animation-iteration-count: 1; opacity: 1;  */
}

main .not .not_main .not_main_1 .not_photo span {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #aa8768;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 40%;
  display: none;
}

main .not .not_main .not_main_1 .not_photo .not_font {
  margin-left: 40px;
  margin-top: 60px;
}

main .not .not_main .not_main_1 .not_photo .not_font p {
  width: 528px;
  height: 335px;
}

main .not .not_main .not_main_1 .not_photo .not_font p img {
  width: 100%;
  height: 100%;
}

main .not .not_main .not_main_1 .not_photo .not_font ul {
  padding: 10px 30px;
  position: relative;
  z-index: 3;
  width: 400px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -46px;
}

main .not .not_main .not_main_1 .not_photo .not_font ul li {
  font-family: Hurme;
  font-size: 12px;
  color: #aa8768;
  list-style: none;
  font-weight: 600;
  text-align: center;
  line-height: 2;
  letter-spacing: 4px;
  padding-top: 10px;
}

main .not .not_main .not_main_1 .not_photo .not_font ul li h2 {
  font-family: canela;
  font-size: 22px;
  color: #000;
}

main .not .not_main .not_main_1 .not_photo .not_font ul li:last-child {
  color: #666666;
  font-weight: normal;
  font-size: 10px;
  margin-top: 10px;
}

main .bt {
  position: relative;
}

main .bt .btn {
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: -28px;
  background-color: rgba(170, 135, 104, 0.8);
  left: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 50%;
  margin: auto;
}

main .bt .btn img {
  width: 10px;
  height: 28px;
  opacity: .4;
  padding-top: 10px;
}

/*1024*/
@media (max-width:1200px) and (min-width:1024px) {
     main .not .not_main .not_main_1{
        width: 100%;
    }
    main .not .not_main .not_main_1 .not_photo .not_font p{
        width: 420px;
        height: 300px;
    }
    main .not .h2{right:36%;}
    
}

@media (max-width:1500px) and (min-width:1024px) {
    main .main_2 div{width: 70%;}
    main .main_2 div p{width: 80%;}
}

/*480*/
@media (max-width:480px) {
    
    main .who{
        padding: 100px 0;
        margin: 0 auto;
        white-space: normal;
        text-align: start;
        padding-bottom: 50px;
    }
    main .who div{justify-content: space-between;}
    main .who .who_top p, main .tena .tena_le span{font-size: 6px;}
    main .who .who_top h2,main .tena .tena_le div h2{
        font-size: 20px;   
        margin-top: 20px;
        padding: 7px 0;
        margin-bottom: 10px;
        width: 90%;
        margin: 0 auto;
    }
    main .who .who_down_1{
        margin-top: 5%;
        padding-bottom:30px;
    }
    main .who .who_down_1 li{font-size: 11px;}
    
    main .not .not_main .not_main_1{
        justify-content: space-around;
        width: 100%;height: 100%;
    }
  
    main .not .not_main .not_main_1 .not_photo .not_font{
        margin-left: 0%;
    }
    
    main .not .not_main .not_main_1 .not_photo{
        margin-left: 1%;
    }
    
    
    main .not .not_main .not_main_1 .not_photo .not_font p{
        width: 170px; height: 100%;
    }
    main .not .not_main .not_main_1 .not_photo .not_font ul{
        width: 170px;
        border: 1px solid #eee;
        padding: 0;
    }
    
    main .not .not_main .not_main_1 .not_photo .not_font ul li h2{
        font-size: 12px;
    }
    main .not .not_main .not_main_1 .not_photo .not_font ul li:last-child{
        font-size: 6px;
    }
    
    main .not .not_main .not_main_1:nth-of-type(2).active, main .not .not_main .not_main_1:nth-of-type(3).active{
        margin: 0;
    }
    
    
    /**/
    main .main_2{
        background-size: 50%;
        padding-bottom: 50%;
    }
    
    main .main_2 div{width: 90%;margin-top: 10%;}
    main .main_2 div p{width: 100%;line-height: 1.5;white-space: pre-line;font-size: 11px;}
    
    main .not{padding-bottom: 120px;}
    main .not .h2{font-size: 12px;right: 40%;width: 50%;}
    /*end*/
}






/*# sourceMappingURL=main_4.de.css.map */