@charset "UTF-8";

@import url("common.css");

$dark: #0c0c0c;
$main_c: #aa8768;
$white: #fff;

%text_de {
    text-decoration: none;
}

@mixin font($a, $b, $c) {
    font-family: $a;
    font-size: #{$b}px;
    color: $c;
}

main {
    margin: 0 auto;
    background: $dark;

    /* 1 summary */
    .summary {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .our_world {
            position: absolute;
            top: 20%;
            left: 0%;

            @include font(hurme, 12, #aa8768);

            font-weight: 600;
            line-height: 2;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
        }

        .our_world::before {
            content: "";
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 1px;
            height: 40px;
            background-color: rgb(170, 135, 104);
        }

        .sum_meu {
          
            .menu {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: 100%;
                min-height: 100%;
                z-index: 3;
                display: flex;
                justify-content: space-between;

                background-image: url('../img/menu/ba1.jpg');
        
                .me_1:hover div p:nth-of-type(2){
                    transform: scale(1.2);
                    opacity: 1;
                    transition: 1s;
                }
                .me_1 {
                    position: relative;
                    max-width: calc(33.3333%);
                    box-sizing: border-box;
                    min-height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                    cursor: pointer;
                    flex: 0 0 calc(33.3333%);
                    border-right: 1px solid rgba(255, 255, 255, 0.1);
                    text-decoration: none;


                    div {
                        width: 50%;
                        white-space: nowrap;
                        margin: 0 auto;
                        
                        h2 {
                            @include font(canela, 40, #e7e5e5);
                            text-transform: uppercase;

                            font-weight: 300;
                            text-align: center;
                            line-height: 1.33;
                            letter-spacing: normal;
                            
                        }

                        p {
                            @include font(MalgunGothic, 13, #808080);

                            font-weight: 100;
                            font-family: Hurme;
                            font-stretch: normal;
                            text-align: center;
                            line-height: 1.71;
                            letter-spacing: normal;
                            white-space: pre-line;
                            margin-top: 60px;
                        }

                        p:nth-of-type(2) {
                            @include font(Hurme, 10, $main_c);

                            font-family: Hurme;
                            font-weight: 600;
                            line-height: 1.6;
                            letter-spacing: 4px;
                            text-align: center;
                            text-transform: uppercase;
                            margin-top: 30%;
                        }
                    }
                }
            }
        }
    }
}
